<h1>Teams</h1>

<%= link_to 'New Team', new_team_path, class: "btn btn-success" %>

<br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row header-row">
      <div class="col-xs-3">
        Name
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% @teams.each do |team| %>
      <%= link_to team do %>
        <div class="row">
          <div class="col-xs-3">
            <%= team.name %>
          </div>
          <div class="col-xs-3">
            <%= link_to 'Details', team, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>