<h1>Editing Tournament</h1>

<%= render partial: 'form', locals: {tournament: @tournament, leagues: @leagues} %>

<%= link_to 'Back', @tournament, class: "btn btn-default" %>
<%= link_to 'Destroy', @tournament, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
