<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row header-row">
      <div class="col-xs-3">
        Name
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% players.each do |player| %>
      <%= link_to player do %>
        <div class="row">
          <div class="col-xs-3">
            <%= player.name %>
          </div>
          <div class="col-xs-3">
            <%= link_to 'Details', player, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>